* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  
  
  :root {
    --primary-color: #e9e9e9;
    --secondary-color: #07d3c2;
    --tertiary-color: #005f69;
    --textshadow:  -1px -3px 2px rgb(255, 153, 0), 
    -2px -3px 2px rgb(255, 187, 0), 
    -3px -3px 2px rgb(255, 0, 0),
    -2px -4px 2px #ddd, 
    -3px -4px 2px #fff, 
    -4px -4px 2px #fff,
    -3px -5px 1px #ddd, 
    -4px -5px 1px #ddd, 
    -5px -5px 1px #fff;
  }
  
  body {
    color: #ffffff;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  
  /* HEADER / NAV BAR STYLES START */
  
  header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url('../images/hero-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
  }
  
  header h1 {
    font-style: italic;
    font-size: 36px;
    color:rgb(255, 255, 255);
    text-shadow: var(--textshadow);
   
  
  }
  
  header a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0,0,0, 0.5);
  }
  
  header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
    padding: 10px;
  }
  
  
  /* HEADER / NAVBAR STYLES END */
  

  
  /* STYLE ALL SECTION TAGS */
  section {
    padding: 60px;
    background-image: url('../images/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-attachment: fixed;
    background-position: 80%;
    }

  /* HERO STYLES START */
  .hero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .hero-cta {
    width: 200%;
    text-align: right;
    margin: 3.5%;
    color: rgb(69, 72, 88);
    font-size: 18px;
    line-height: 1.3;
  }
  
  .hero-cta h2 {
    font-style: italic;
    font-size: 108px;
    color:rgb(255, 255, 255);
    text-shadow: 
    /* This set has more blur distance to create glowing effect */
    1px -1px 10px rgba(255, 255, 255, 0.4), 
    0px -1px 10px rgba(255, 255, 255, 0.4),  
   -1px -1px 10px rgba(255, 255, 255, 0.4), 
    0px -2px 3px #fff, 
   -1px -2px 3px #fff, 
   -2px -2px 3px #fff,
    
    /* This set has darken color to create depth */
   -1px -3px 2px rgb(255, 153, 0), 
   -2px -3px 2px rgb(255, 187, 0), 
   -3px -3px 2px rgb(255, 0, 0),
   -2px -4px 2px #ddd, 
   -3px -4px 2px #fff, 
   -4px -4px 2px #fff,
   -3px -5px 1px #ddd, 
   -4px -5px 1px #ddd, 
   -5px -5px 1px #fff;
    
  }
  
 
  /* HERO STYLES END */
  
  
  /* SECTION TITLE STYLES START */
  .section-title {
    font-size: 55px;
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
    text-shadow: var(--textshadow);
    font-style: italic;
  }
  
  .primary-border {
    border-color: var(--primary-color);
  }
  
  .secondary-border {
    border-color: var(--tertiary-color);
  }
  /* SECTION TITLE STYLES END */
  
  /* WHAT WE DO STYLES */
  
  .intro p {
    line-height: 1.7;
    color: var(--tertiary-color);
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
  }
  /* WHAT YOU DO STYLES END */
  
  
  /* WHAT YOU DO STYLES START */
  .steps { 
    background: var(--primary-color);
  }
  
  .step {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  
  .step h3 {
    color: var(--secondary-color);
    font-size: 46px;
    flex: 1 30%;
  }
  
  .step-info {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .step-img {
    flex: 1 12%;
    margin-right: 20px;
  }
  
  .step-img img {
    max-width: 100%;
  }
  
  .step-text {
    flex: 12;
  }
  
  .step-text p {
    color: var(--tertiary-color);
    font-size: 18px;
  }
  
  .step-text h4 {
    font-size: 26px;
    line-height: 1.5;
    color: var(--secondary-color);
  }
  
  /* WHAT YOU DO STYLES END */
  
  /* MEET THE TRAINERS START */
  .trainers {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .trainer {
    margin: 20px;
    flex: 1;
    background: var(--secondary-color);
    color: var(--primary-color);


  }
  
  .trainer img {
    width: 100%;
    max-height: 1000px;
    border: 10px solid var(--primary-color);
    object-fit: scale-down;
    z-index: 9998;
  }
  
  .trainer-bio {
    border: var(--secondary-color) solid 20px;
    line-height: 1.3;
    text-align: center;
    padding: 20px;
    box-shadow: -20px -20px 20px rgba(0,0,0, 0.5);
  
  }
  
  .trainer-bio h3 {
    font-size: 28px;
    text-align: center;
  }
  
  .trainer-bio h4 {
    font-weight: lighter;
    font-size: 22px;
    margin-bottom: 15px;
  }
  
  .trainer-bio p {
    font-size: 17px;
  }
  /* TRAINER STYLES END */
  
  /* REACH OUT STYLES START */
  .contact {
    background: var(--secondary-color);
  }
  
  .contact h2 {
    color: var(--primary-color);
  }
  

  
  
  /* REACH OUT STYLES END */
  
  /* UTILITIES */
  .text-left {
    text-align: left;
  }
  
  .text-right {
    text-align: right;
  }
  
  .flex-row {
    display: flex;
  }
  
  /* MEDIA QUERIES START */
  
  @media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
      text-shadow: 0 0 10px rgba(0,0,0, 0.5);
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
  
    }
  
    footer h2, footer div {
      text-align: center;
      width: 100%;
    }
  
    .hero-cta, .hero-form {
      width: 100%;
    }
    
    .hero-cta {
      text-align: center;
    }
  
    .section-title {
      width: 80%;
    }
  
    .trainer {
      flex: 0 70%;
    }
  
  }
  
  
  @media screen and (max-width: 768px) {
    section {
      padding: 30px 15px;
    }
  
    .step h3 {
      flex: 1 100%;
      text-align: center;
    }
  
    .step-info {
      flex: 2 100%;
      text-align: center;
      justify-content: center;
    }
  
    .step-img {
      flex: 0 32%;
      margin-right: 0;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  
    .step-text {
      flex: 100%;
    }
  }
  
  @media and (max-width: 575px) {
    .hero-form button {
      width: 100%;
    }
  
    .section-title {
      width: 95%;
    }
  
    .intro p {
      width: 100%;
    }
  
    .trainer {
      flex: 0 100%;
    }
  }